// _layout.scss
main {
  position: absolute;
  width: 100%;
  height: 100%;
  @include transition( margin-left 0.3s $easeInOutCubic );
}
#site-content {
  position: relative;
  height: 100%;
  z-index: 3;
}
#site-content > section {
  width: 100%;
  min-height: 100%;
  //border-top: 2px dotted #808080;
  .section-inner {
    padding: 60px 0 0;
  }
}
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #FFFFFF;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
footer {
  background: rgba( $color-white, 0.95 );
  // color: $color-grey-light;
  font-size: 13px;
  text-align: center;

  .footer-inner {
    position: relative;
    border-top: 1px solid $color-border;
  }
  a.logo {
    display: block;
    position: absolute;
    left: 50%; top: 0;
    width: 100%; height: 80px;
    margin: -80px 0 0 -50%;
    padding: 0;
    z-index: 1;
    overflow: hidden;
    .icon {
      display: block;
      position: relative;
      width: 40px; height: 40px;
      margin: 45px auto 0;
      @include transition( all 0.3s $easeInOutExpo );
    }
    .icon-spear {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      polygon {
        @include transition( fill 0.3s $easeInOutExpo );
        fill: $color-grey-light;
      }
    }
  }
  .copyright {
    @include italicFont();
    position: relative;
    padding: 1em 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }
}

html:not(.touch) footer:hover {
  a.logo {
    .icon {
      width: 60px; height: 60px;
      margin-top: 20px;
    }
    .icon-spear polygon {
      fill: $brand-black;
    }
  }
  .copyright {
    color: $brand-black;
  }
}

main {
  #top-nav {
    visibility:hidden;
  }
}

main.snap-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;

  #mobile-nav {
    position: absolute;
  }
  #top-nav {
    visibility: visible;
  }
  #site-content {
    pointer-events: none;
  }
  #canvas {
    position: absolute;
    @include box-shadow( 0 0 20px 0 rgb(0,0,0));
  }
  &.open {
    margin-left: -200px;
  }
}


@media ( min-width:$width-sm-min ) {

  main {
    #top-nav {
      visibility: visible;
    }
  }
  .container {
    max-width: $width-sm-min;
    padding: 0 15px;
  }
  #site-content > section .section-inner {
    padding-top: 100px;
  }

}

@media ( min-width:$width-md-min ) {
  .container {
    max-width: $width-md-min;
    padding: 0 20px;
  }
  #site-content > section .section-inner {
    padding-top: 140px;
  }
}

@media ( min-width:$width-lg-min ) {
  .container {
    max-width: $width-lg-min;
  }
}
