// _typography.scss

@mixin bodyFont() {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
@mixin italicFont() {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 400;
}
@mixin italicBoldFont() {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 600;
}
@mixin boldFont() {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
}
@mixin mediumFont() {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 500;
}
@mixin thinFont() {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 300;
}
@mixin headlineFont() {
  @include boldFont();
  text-transform: uppercase;
  line-height: 1;
}
@mixin navFont() {
  @include thinFont();
  line-height: 1;
  text-transform: uppercase;
}


.wf-loading {
  h1, h2, h3, h4, p, li, a {
    visibility:visible;
    @include opacity( 0 );
  }
}

body {
  font-size: 16px;
  @include bodyFont();
}
h1, h2, h3, h4 {
  @include headlineFont();
  color: $color-grey-black;
}
h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 21px; }
h4 { 
  @include mediumFont();
  font-size: 18px; 
}
p {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}


@media ( min-width:$width-sm-min ) {
  body { font-size: 18px; }
  h1 { font-size: 36px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
}

@media ( min-width:$width-md-min ) {
  body { font-size: 20px; }
  h1 { font-size: 48px; }
  h2 { font-size: 30px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
}

@media ( min-width:$width-lg-min ) {
  
}


