<form id="connect-form" class="contact-form">
  <div class="input-field" data-field="name">
    <label for="name">Name</label>
    <div class="input-wrapper">
      <input name="name" type="text" placeholder="Enter your name"></input>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <div class="input-field" data-field="email">
    <label for="email">Email</label>
    <div class="input-wrapper">
      <input name="email" type="text" placeholder="Enter your email"></input>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <div class="input-field inquiry" data-field="inquiry">
    <label for="inquiry">Inquiry</label>
    <div class="input-wrapper">
      <input name="inquiry" type="hidden"></input> 
      <a class="inquiry-select" href="#">What can we help you with?</a>
      <ul class="inquiry-type-list">
      </ul>
    </div>
  </div>
  <div class="input-field" data-field="message">
    <label for="message">Message</label>
    <div class="input-wrapper">
      <textarea name="message" placeholder="What's up?"></textarea>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <div class="ui-row">
    <button class="submit">Send</button>
    <div class="response-message">
      <p class="success">Thank you, message received!</p>
      <p class="fail">Sorry, message could not be sent.</p>
    </div>
  </div>
</form>