<form id="connect-form" class="contact-form">
  <div class="input-field" data-field="name">
    <label for="name">Name</label>
    <div class="input-wrapper">
      <input name="name" type="text" placeholder="Enter your name"></input>
    </div>
  </div>
  <div class="input-field" data-field="email">
    <label for="email">Email</label>
    <div class="input-wrapper">
      <input name="email" type="text" placeholder="Enter your email"></input>
    </div>
  </div>
  <div class="input-field" data-field="inquiry">
    <label for="inquiry">Inquiry</label>
    <div class="input-wrapper">
      <input name="inquiry" type="text" value=""></input> 
      <select name="inquiry">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <ul class="inquiry-type-list">
        <li class="inquiry-type-item">
          <a class="inquiry-type" href="#" data-value=""></a>
        </li>
        <li class="inquiry-type-item">
          <a class="inquiry-type" href="#" data-value=""></a>
        </li>
        <li class="inquiry-type-item">
          <a class="inquiry-type" href="#" data-value=""></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="input-field" data-field="message">
    <label for="message">Message</label>
    <div class="input-wrapper">
      <textarea name="message" placeholder="What's up?"></textarea>
    </div>
  </div>
  <button class="submit">Send</button>
</form>