<form id="connect-form" class="contact-form">
  <div class="input-field" data-field="name">
    <label for="name">Name</label>
    <div class="input-wrapper">
      <input name="name" type="text" placeholder="Enter your name"></input>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <div class="input-field" data-field="email">
    <label for="email">Email</label>
    <div class="input-wrapper">
      <input name="email" type="text" placeholder="Enter your email"></input>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <div class="input-field inquiry" data-field="inquiry">
    <label for="inquiry">Inquiry</label>
    <div class="input-wrapper">
      <a class="inquiry-select" href="#">
        <input name="inquiry" type="text" placeholder="What can we help you with?" disabled></input> 
      </a>
      <ul class="inquiry-type-list">
      </ul>
    </div>
  </div>
  <div class="input-field" data-field="message">
    <label for="message">Message</label>
    <div class="input-wrapper">
      <textarea name="message" placeholder="What's up?"></textarea>
      <button class='ios-intercept'></button>
    </div>
  </div>
  <button class="submit">Send</button>
</form>