

#mobile-nav {
	display:none;
	position:fixed; top:0; left:0;
	width:100%; height:46px;
	z-index:1000;
	overflow:hidden;

	.site-lock {
		z-index:1001;
		position:absolute; top:0; left:0;
		display:block;
		width:100%; height:100%;
		@include opacity(0);
	}
	.row {
		z-index:1002;
		display:block;
		position:absolute; top:0; left:0;
		width:100%; height:46px;
		background:rgba(#FFF, 0.9);
		border-top:2px solid $color-dk-grey;
		border-bottom:1px solid $color-lt-grey;
		@include clearfix;
	}
	.logo, .draw-trigger, .menu-trigger {
		display:block;
		position:relative; top:-2px;
		width:46px; height:46px; padding:8px;
		overflow:hidden;
	}

	.logo { 
		float:left;
		@include clearfix;
		@include transition( margin-left 0.3s $easeInOutCubic );
		background:$color-dk-grey;

		.icon {
			display:block; float:left;
			height:30px;
			@include hide-text();
			width:30px;
			background: url(../img/fiveleft-logo-states.png) no-repeat -45px -75px;
		}
		.text {
			display:none;
		}
	}

	.draw-trigger, .menu-trigger {
		background:none;
		@include hide-text;
		.icon {
			position:absolute; top:8px; left:8px;
			display:block;
			width:30px; height:30px;
		}
	}
	.menu-trigger {
		cursor:pointer;
		float:left;
		.icon.open { 
			@include icon-position( 12, 0 );
		}
		.icon.close { 
			display:none;
			background-position:0 0; 
		}
	}
	.draw-trigger {
		float:right;
		.icon { @include icon-position( 13, 0 ); }
	}

	@include breakpoint( tablet-max ) {
		display:block;
	}
}
.nav-open #mobile-nav {
	
}
.nav-open, .nav-closing {
	#mobile-nav {
		height:100%;
		.logo {
			display:none;
		}
		.menu-trigger .icon.open {
			display:none;
		}
		.menu-trigger .icon.close {
			display:block;
		}
	}
}



// Top Navigation
#top-nav {
	
	position:fixed; top:0; left:0;
	width:100%;
	color:$color-grey;
	overflow:visible;
	font-size:18px;
	background:rgba(#FFF, 0.9);
	border-top:3px solid $color-dk-grey;
	border-bottom:1px solid white;
	// z-index:1000;
	@include clearfix;


	@include breakpoint( tablet-max ) {
		z-index:1;
	}

	// Top Nav
	.top-nav-container {
		position:relative;
		top:-3px;
		display:block;
		width:100%; height:2.5em; margin:0 auto; padding:0 30px;
		max-width:$width-large-desktop;
		z-index:202;
		@include clearfix;
	}
	.top-nav-items, .connect-nav-items {
		@include clearfix;
		overflow:visible;
		height:2.5em;
	}
	.connect-title {
		display:none;
		padding:0.5em 20px;
		font-style:italic;
	}
	.nav-link {
		display:block;
		height:2.5em; padding:0 20px 1px; margin:0;
		border-top:3px solid rgba($color-grey, 0);
		line-height:2.5em; 
		text-align:left; text-decoration:none;
		color:$color-grey;

		@include transition( none 0.15s $easeOutCubic );
		@include transition-property( background-color, border-color, color );

		&.social-item {
			padding:0;
		}
		&:hover {
			color:$color-magenta;
		}
		&.active, &.active:hover {
			border-top-color:rgba($color-magenta, 1);
			color:$color-dk-grey;
		}
	}
	.top-nav-items, .nav-item {
		float:left;
	}
	.connect-nav-items {
		float:right;
	}
	.nav-item.home { 
		padding-left:0; padding-right:70px;
	}
	
	.logo {
		display:block;
		width:70px; height:100px; margin:0; padding:0;

		.fiveleft-name, .fiveleft-logo {
			display:block;
			width:70px; 
			@include hide-text;
		}
		.fiveleft-logo {
			height:70px; margin:0;
			background:transparent url(../img/fiveleft-logo-states.png) 0 0 no-repeat;
		}
		.fiveleft-name {
			@include opacity(0);
			@include transition( none 0.2s $easeInOutCubic );
			@include transition-property( margin-top, opacity );
			height:20px; margin-top:5px;
			background:transparent url(../img/brand-name.png) 0 100% no-repeat;
			@include highres-image( "/img/brand-name@2x.png" );
			background-size:70px 70px;
		}
		&:hover {
			.fiveleft-name {
				@include opacity(1);
				margin-top:10px;
			}
		}
	}

	.connect-nav .nav-link {
		
		&.info {
			padding-right:20px;
		}
		&.social {
			width:30px; height:40px;
			padding:7px 0 0;
		}
	}


	@include breakpoint( small-desktop ) {

		.nav-link:not(.social) {
			// padding:0 15px 1px;
		}
		.nav-item.home { 
			padding:0 35px 0 0;
		}
		.logo { 
			padding:0;
		}
		.info-item {
			display:none;
		}
	}

	@include breakpoint( tablet-max ) {

		visibility:visible;
		width:auto; height:100%;
		background:#1a1a1a url(/img/blackorchid.png) repeat;
		border:none;
		color:$color-lt-grey;
		@include clearfix;

		.top-nav-container {
			position:relative;
			float:right;
			top:auto; width:auto; height:auto;
			padding:0;
			max-width:none;
		}
		.top-nav-items, .connect-nav-items {
			position:relative;
			float:none;
			width:auto; height:auto;
		}
		.nav-item:not(.social-item) {
			display:block;
			float:none;
			padding:0;
			height:2.5em;
			border-top:1px solid rgba($color-grey, 0.3);
			border-bottom:3px solid rgba(#000, 0.5);
		}
		.nav-item.social-item:nth-child(3) {
			margin-left:12px;
		}
		.nav-link {
			display:block;
			padding:0 20px;
			border:none;
			line-height:2.5em;
			color:$color-lt-grey;

			&.active, &.active:hover {
				// border-top-color:rgba($color-magenta, 1);
				color:#FFF;
				background-color:rgba($color-black, 0.75);
			}
		}
		.nav-link.social {
			$bg-offset-x:-30px;
			$bg-offset-y:-60px;
			$bg-offset-hover-y:-30px;
			&:hover .icon {  
				background-color:$color-magenta;
			}
			&.facebook .icon { @include icon-position( 8, 0 ); }
			&.twitter .icon { @include icon-position( 9, 0 ); }
			&.google .icon { @include icon-position( 11, 0 ); }
		}
		.connect-title {
			border-top:6px solid rgba(#000, 0.5);
			display:block;
		}

		.nav-item.home {
			position:relative;
			height:70px; padding:0;
			border:0px none;
			.logo {
				width:180px; height:100%; padding:0;
				@include clearfix;
				& > * { float:left; }
			}
			.fiveleft-logo { 
				background-position:-210px 0;
			}
			.fiveleft-name {
				margin:25px 0 25px 10px;
				@include opacity(1);
			}
		}
	}

	@include breakpoint( "(max-height:320px)" ) {

		.nav-item:not(.social) {
			height:1.75em;
		}
		.nav-link {
			height:1.75em;
			line-height:1.75em;
		}
		.nav-item.home {
			height:40px;
			.fiveleft-logo {
				width:40px; height:40px; margin-left:10px;
				background-position: -40px -70px;
			}
			.fiveleft-name {
				margin:10px 5px;
			}
		}

	} 
}

.nav-link {
	.icon { 
		display:block; width:30px; height:30px;
		@include border-radius(9999px);
	}
	&:hover {
		.icon { 
			background-color:$color-dk-grey;
		}
	}
	&.facebook .icon { @include icon-position( 8, 0 ); }
	&.twitter .icon { @include icon-position( 9, 0 );  }
	&.google .icon { @include icon-position( 11, 0 );  }
	&.facebook:hover .icon { @include icon-position( 8, 1 );  }
	&.twitter:hover .icon { @include icon-position( 9, 1 );  }
	&.google:hover .icon { @include icon-position( 11, 1 );  }
}

.iOS {
	#mobile-nav, #top-nav {
		@include translate3d(0, 0, 0, 0);	
	}
}

.nav-open, .nav-closing {
	#top-nav { visibility:visible; }
}