

#connect-section {

	$border : 1px solid rgba($color-white,0.15);
	width:100%; max-width:none;
	z-index:1;

	h1 {
		letter-spacing:0.0625em;
	} 
	h2 {
		padding:1em 0 0.75em;
		margin:0;
		color:$color-white;
	}
	p {
		color:$color-lt-grey;
		letter-spacing:0.05em;
	}
	a, a:visited, a:active {
		color:$color-white;
		// text-decoration:none;
		&:hover {
			color:$color-magenta;
			text-decoration:none;
		}
	}

	.section-inner {
		display:none;
	}
	.section-fix {
		position:absolute; bottom:0; left:0;
		width:100%; 
		background:$color-dk-grey; //url(../img/blackorchid.png) repeat;
		color:$color-white;
	}
	
	.section-fix-inner{
		@include clearfix;
		width:100%; max-width:$width-large-desktop;
		padding:30px 30px 0; margin:0 auto;
	}
	.top-row {
		width:100%;	padding:1em; 
	}
	.section-title {
		font-size:1.5em; line-height:1.125em;
		padding:2em 0;
	}
	.logo {
		display:inline-block;
		& > * {
			display:inline-block;
			vertical-align:top;
		}
		.brand-name {
			width:90px; line-height:30px; height:30px;
			@include hide-text;
			background:transparent url(/img/brand-name.png) 0 50% no-repeat;
			@include highres-image( "/img/brand-name@2x.png", 90px 90px );
		}
		.brand-icon {
			width:30px; height:28px; margin:2px 4px 0 0;
			background:transparent url(/img/fiveleft-logo-states.png) -45px -75px no-repeat;
			z-index:2;
			@include hide-text;
		}
		&:hover {
			.brand-name { background-position:0 100%; }
			.brand-icon { background-position:-5px -75px; }
		}
	}
	.info-row {
		border-bottom:$border;
		border-top:$border;
		position:relative;
		display:table;
	}
	.info {
		display:table-cell;
		padding:1.5em 1.5em 2em;
		border-left:$border;

		.hours {
			font-size:0.875em;
			font-style:italic;
			padding-bottom:0.75em;
		}
	}
	.info.location {
		width:25%;
		border-left:none;
		address {
			line-height:1.4375em;
		}
	}
	.info.new-business, .info.collaboration {
		width:37.5%;
	}

	.final-row {
		position:relative;
		padding:1em 1em 0.25em; 
		text-align:left;
		@include clearfix;
		@include opacity(0.5);
		@include transition( opacity 0.3s $easeInOutCubic );

		&:hover {
			@include opacity(1);
		}
		.logo, .social-links, .copyright {
			display:inline-block;
			vertical-align:top;
			margin-right:2em;
		}
		.social-links {
			@include clearfix;
		}
		.nav-link {
			display:block;
			float:left;
			line-height:34px; height:34px; padding:2px 0; margin:0 5px;
			&:hover .icon {
				background-color:$color-magenta;
			}
			&.facebook .icon { @include icon-position( 8, 1 );  }
			&.twitter .icon { @include icon-position( 9, 1 );  }
			&.google .icon { @include icon-position( 11, 1 );  }
		}
		.copyright {
			font-style:italic;
			line-height:44px;
		}
	}

	@include breakpoint (small-desktop-max) {
		.section-fix-inner{	
			//padding:20px; 
		}
		.info-row {
			@include clearfix;
			display:block;
		}
		.info {
			display:block;
			padding:1em 1em 2em;
		}
		
		.info.location {
			float:left;
			width:25%;
		}
		.info.new-business, .info.collaboration {
			float:right;
			width:75%;
		}
		.info.new-business { 
			border-bottom:$border;
		}
	}
	@include breakpoint ( "#{$size-tablet-max}, #{$size-small-desktop-max} and (orientation:portrait)" ) {
		.section-fix-inner{	
			padding:20px; 
		}
		.top-row, .info, .final-row {
			padding:1em 0; 
			border-left:none;
		}
		.info.location, .info.new-business, .info.collaboration {
			width:100%; float:none;
			border-bottom:$border;
			p {
				width:90%;
			}
		}
		.final-row {
			padding-bottom:0.25em;
		}
		address br {
			display:inline;
			content:" ";
			&::after { content:" "; }
		}
	}

}


.iOS #connect-section {
	z-index:3;
	.section-fix {
		position:relative;
	}
}

.affix-top #connect-section {

	background:rgba(magenta, 0.75);

	@include breakpoint( small-desktop-min ) {
		.section-fix {
			position:fixed;
			// height:40%;
		}
	}
}	
