body {
  padding: 40px;
  font: 16px "adobe-garamond", Georgia, serif;
}
h1, h2, h3, h4 {
  font-family: "brandon-grotesque",sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 21px;
}
ul, li {
  list-style-type:none;
  padding:0;
}
a {
  color: #FF0097;
  text-decoration:none;
}