
{{#contentFor 'pageStyles'}}
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/vendor/modernizr.min.js"></script>
{{/contentFor}}


<main role="main">
	<header id="header">
		{{>main/header}}
	</header>
	<article class="section-container">
		<h1> Whoops! Page error </h1>
	</article>
	<footer id="footer">
		{{>main/footer}}
	</footer>
</main>

