
{{#contentFor 'pageStyles'}}
	<link rel="stylesheet" href="/css/main.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
	{{>fonts }}	
{{/contentFor}}

<main role="main" class="error-page">
	<header id="header">
		{{>main/header}}
	</header>
	<article id="site-content">
		<section class="section container" >
			<div class="section-inner">
				<h1 class="section-title">Whoops! Page error</h1>
			</div>
		</section>
	</article>
	<footer id="footer">
		{{>main/footer}}
	</footer>
</main>