
{{#contentFor 'pageStyles'}}
	<link rel="stylesheet" href="/css/main.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
	{{>fonts }}	
	<script src="/js/modernizr.custom.32938.js"></script>
	<script id="site-vars" hidden> 
		var __cdn='{{cdn}}'; 
	</script>
{{/contentFor}}

<main role="main">
	<header id="header">
		{{>main/header}}
	</header>
	<article id="site-content">
		{{>main/section_home}}
		{{>main/section_work}}
		{{>main/section_info}}
		{{>main/section_connect}}
		<footer id="footer">
			{{>main/footer}}
		</footer>
	</article>
	<canvas id="canvas"></canvas>	
	<span hidden id="data-api-data" data-json='{{data}}'></span>
</main>
{{#contentFor 'inlineScripts'}} 
	<script data-main="/js/init" src="/js/vendor/requirejs/require.js"></script>
{{/contentFor}}


