
{{#contentFor 'pageStyles'}}
	<link rel="stylesheet" href="/css/main.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
	{{>fonts }}	
	<script src="/js/vendor/modernizr/modernizr.js"></script>
{{/contentFor}}

<main role="main">
	<header id="header">
		{{>main/header}}
	</header>
	<article class="section-container">
		{{>main/section_home}}
		{{>main/section_work}}
		{{>main/section_info}}
		{{>main/section_connect}}
	</article>
	<footer id="footer">
		{{>main/footer}}
	</footer>
</main>
<canvas id="canvas"></canvas>


{{#contentFor 'inlineScripts'}} 
	<script data-main="js/main" src="/js/vendor/requirejs/require.js"></script>
{{/contentFor}}


