/* line 1, scss/main.scss */
body {
  padding: 40px;
  font: 16px "adobe-garamond", Georgia, serif;
}

/* line 5, scss/main.scss */
h1, h2, h3, h4 {
  font-family: "brandon-grotesque",sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

/* line 10, scss/main.scss */
h1 {
  font-size: 48px;
}

/* line 13, scss/main.scss */
h2 {
  font-size: 30px;
}

/* line 16, scss/main.scss */
h3 {
  font-size: 21px;
}

/* line 19, scss/main.scss */
ul, li {
  list-style-type: none;
  padding: 0;
}

/* line 23, scss/main.scss */
a {
  color: #FF0097;
  text-decoration: none;
}
