/* line 5, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 47, scss/core/_typography.scss */
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading p, .wf-loading li, .wf-loading a {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 53, scss/core/_typography.scss */
body {
  font-size: 16px;
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

/* line 57, scss/core/_typography.scss */
h1, h2, h3, h4 {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: #1c1c1a;
}

/* line 61, scss/core/_typography.scss */
h1 {
  font-size: 28px;
}

/* line 62, scss/core/_typography.scss */
h2 {
  font-size: 24px;
}

/* line 63, scss/core/_typography.scss */
h3 {
  font-size: 21px;
}

/* line 64, scss/core/_typography.scss */
h4 {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 768px) {
  /* line 75, scss/core/_typography.scss */
  body {
    font-size: 18px;
  }

  /* line 76, scss/core/_typography.scss */
  h1 {
    font-size: 36px;
  }

  /* line 77, scss/core/_typography.scss */
  h2 {
    font-size: 28px;
  }

  /* line 78, scss/core/_typography.scss */
  h3 {
    font-size: 24px;
  }

  /* line 79, scss/core/_typography.scss */
  h4 {
    font-size: 18px;
  }
}
@media (min-width: 1025px) {
  /* line 83, scss/core/_typography.scss */
  body {
    font-size: 20px;
  }

  /* line 84, scss/core/_typography.scss */
  h1 {
    font-size: 48px;
  }

  /* line 85, scss/core/_typography.scss */
  h2 {
    font-size: 30px;
  }

  /* line 86, scss/core/_typography.scss */
  h3 {
    font-size: 24px;
  }

  /* line 87, scss/core/_typography.scss */
  h4 {
    font-size: 20px;
  }
}
/* line 1, scss/core/_base.scss */
body {
  margin: 0;
  padding: 0;
  color: #52524e;
}

/* line 6, scss/core/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, scss/core/_base.scss */
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 14, scss/core/_base.scss */
p {
  max-width: 40em;
  margin: 0;
  padding: 0 0 1em;
}

/* line 20, scss/core/_base.scss */
a:focus, button:focus {
  outline: none;
}

/* line 24, scss/core/_base.scss */
a {
  color: #1c1c1a;
  text-decoration: none;
}

/* line 29, scss/core/_base.scss */
p a, li a {
  color: #1c1c1a;
  text-decoration: underline;
  -moz-transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 33, scss/core/_base.scss */
p a:hover, li a:hover {
  color: #ee2a7b;
  text-decoration: none;
}

/* line 40, scss/core/_base.scss */
button {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 300;
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  border: none;
  padding: 0.625em 2em;
  background: #1c1c1a;
  color: #b8b8b1;
  text-transform: uppercase;
  -moz-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 67, scss/core/_base.scss */
button:hover, button:focus {
  color: white;
  background-color: #ee2a7b;
}

/* line 2, scss/core/_layout.scss */
main {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* line 8, scss/core/_layout.scss */
#site-content {
  position: relative;
  height: 100%;
  z-index: 3;
}

/* line 13, scss/core/_layout.scss */
#site-content > section {
  width: 100%;
  min-height: 100%;
}
/* line 17, scss/core/_layout.scss */
#site-content > section .section-inner {
  padding: 60px 0 0;
}

/* line 21, scss/core/_layout.scss */
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #FFFFFF;
}

/* line 30, scss/core/_layout.scss */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 35, scss/core/_layout.scss */
footer {
  background: rgba(255, 255, 255, 0.95);
  font-size: 13px;
  text-align: center;
}
/* line 41, scss/core/_layout.scss */
footer .footer-inner {
  position: relative;
  border-top: 1px solid rgba(133, 133, 128, 0.25);
}
/* line 45, scss/core/_layout.scss */
footer a.logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 80px;
  margin: -80px 0 0 -50%;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}
/* line 54, scss/core/_layout.scss */
footer a.logo .icon {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 45px auto 0;
  -moz-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}
/* line 61, scss/core/_layout.scss */
footer a.logo .icon-spear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 65, scss/core/_layout.scss */
footer a.logo .icon-spear polygon {
  -moz-transition: fill 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: fill 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: fill 0.3s cubic-bezier(1, 0, 0, 1);
  transition: fill 0.3s cubic-bezier(1, 0, 0, 1);
  fill: #b8b8b1;
}
/* line 71, scss/core/_layout.scss */
footer .copyright {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 400;
  position: relative;
  padding: 1em 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

/* line 84, scss/core/_layout.scss */
html:not(.touch) footer:hover a.logo .icon {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}
/* line 88, scss/core/_layout.scss */
html:not(.touch) footer:hover a.logo .icon-spear polygon {
  fill: #1c1c1a;
}
/* line 92, scss/core/_layout.scss */
html:not(.touch) footer:hover .copyright {
  color: #1c1c1a;
}

/* line 98, scss/core/_layout.scss */
main #top-nav {
  visibility: hidden;
}

/* line 103, scss/core/_layout.scss */
main.snap-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
}
/* line 110, scss/core/_layout.scss */
main.snap-nav #mobile-nav {
  position: absolute;
}
/* line 113, scss/core/_layout.scss */
main.snap-nav #top-nav {
  visibility: visible;
}
/* line 116, scss/core/_layout.scss */
main.snap-nav #site-content {
  pointer-events: none;
}
/* line 119, scss/core/_layout.scss */
main.snap-nav #canvas {
  position: absolute;
  -moz-box-shadow: 0 0 20px 0 black;
  -webkit-box-shadow: 0 0 20px 0 black;
  box-shadow: 0 0 20px 0 black;
}
/* line 123, scss/core/_layout.scss */
main.snap-nav.open {
  margin-left: -200px;
}

@media (min-width: 768px) {
  /* line 132, scss/core/_layout.scss */
  main #top-nav {
    visibility: visible;
  }

  /* line 136, scss/core/_layout.scss */
  .container {
    max-width: 768px;
    padding: 0 15px;
  }

  /* line 140, scss/core/_layout.scss */
  #site-content > section .section-inner {
    padding-top: 100px;
  }
}
@media (min-width: 1025px) {
  /* line 147, scss/core/_layout.scss */
  .container {
    max-width: 1025px;
    padding: 0 20px;
  }

  /* line 151, scss/core/_layout.scss */
  #site-content > section .section-inner {
    padding-top: 140px;
  }
}
@media (min-width: 1281px) {
  /* line 157, scss/core/_layout.scss */
  .container {
    max-width: 1281px;
  }
}
/* line 2, scss/core/_nav.scss */
#top-nav, #mobile-nav {
  position: fixed;
  top: 0;
  background: rgba(28, 28, 26, 0.95);
  color: #b8b8b1;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
}
/* line 9, scss/core/_nav.scss */
#top-nav a, #mobile-nav a {
  color: #b8b8b1;
  text-decoration: none;
}
/* line 13, scss/core/_nav.scss */
#top-nav .brand-name, #mobile-nav .brand-name {
  display: block;
  width: 80px;
  height: 30px;
  margin: 5px;
  background-position: 50% 50%;
  background: url(/images/brand-name.svg) no-repeat;
  background-size: contain;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

/* line 25, scss/core/_nav.scss */
#mobile-nav {
  display: block;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 50px 0 0;
  z-index: 1000;
}
/* line 33, scss/core/_nav.scss */
#mobile-nav a.logo, #mobile-nav button {
  height: 40px;
}
/* line 36, scss/core/_nav.scss */
#mobile-nav a.logo {
  display: inline-block;
  padding: 0 15px 0 0;
  *zoom: 1;
}
/* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#mobile-nav a.logo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 41, scss/core/_nav.scss */
#mobile-nav .brand-icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(/images/brand-logo-small.svg) no-repeat 50% 50%;
  background-size: 30px auto;
}
/* line 48, scss/core/_nav.scss */
#mobile-nav .brand-name {
  display: block;
  float: left;
  width: 80px;
  height: 30px;
  margin: 5px 10px;
  background-position: 50% 50%;
  background-size: contain;
}
/* line 56, scss/core/_nav.scss */
#mobile-nav button {
  display: block;
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  padding: 10px 15px 11px 15px;
  background-color: transparent;
  -moz-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 67, scss/core/_nav.scss */
#mobile-nav button::after {
  display: none;
  content: "";
}
/* line 71, scss/core/_nav.scss */
#mobile-nav button:focus {
  outline: none;
}
/* line 74, scss/core/_nav.scss */
#mobile-nav button .icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}
/* line 81, scss/core/_nav.scss */
#mobile-nav button .bar {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 50%;
  margin-left: -50%;
  margin-top: -1px;
  background-color: #b8b8b1;
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 92, scss/core/_nav.scss */
#mobile-nav button .bar:first-child {
  top: 1px;
}
/* line 95, scss/core/_nav.scss */
#mobile-nav button .bar:nth-child(2) {
  top: 9px;
}
/* line 98, scss/core/_nav.scss */
#mobile-nav button .bar:last-child {
  top: 17px;
}

/* line 107, scss/core/_nav.scss */
.snap-nav.open #mobile-nav button {
  background-color: #ee2a7b;
}
/* line 109, scss/core/_nav.scss */
.snap-nav.open #mobile-nav button .bar {
  background-color: white;
}
/* line 111, scss/core/_nav.scss */
.snap-nav.open #mobile-nav button .bar:first-child {
  top: 50%;
  height: 4px;
  margin-top: -2px;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
/* line 117, scss/core/_nav.scss */
.snap-nav.open #mobile-nav button .bar:nth-child(2) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 120, scss/core/_nav.scss */
.snap-nav.open #mobile-nav button .bar:last-child {
  top: 50%;
  height: 4px;
  margin-top: -2px;
  -moz-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

/* line 133, scss/core/_nav.scss */
#top-nav .connect-title {
  display: block;
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
}
/* line 141, scss/core/_nav.scss */
#top-nav .connect-nav .social-item {
  width: 40px;
  height: 40px;
  padding: 5px;
}
/* line 147, scss/core/_nav.scss */
#top-nav .connect-nav .social {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3px;
  background: rgba(133, 133, 128, 0.2);
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  -moz-transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 156, scss/core/_nav.scss */
#top-nav .connect-nav .social .icon {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background: no-repeat 50% 50%;
  background-size: 100% auto;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 167, scss/core/_nav.scss */
#top-nav .connect-nav .social:hover {
  background: rgba(0, 0, 0, 0.6);
}
/* line 169, scss/core/_nav.scss */
#top-nav .connect-nav .social:hover .icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 174, scss/core/_nav.scss */
#top-nav .connect-nav .github .icon {
  background-image: url(/images/icon-github.svg);
}
/* line 177, scss/core/_nav.scss */
#top-nav .connect-nav .facebook {
  padding: 5px;
}
/* line 179, scss/core/_nav.scss */
#top-nav .connect-nav .facebook .icon {
  background-image: url(/images/icon-facebook.svg);
}
/* line 183, scss/core/_nav.scss */
#top-nav .connect-nav .twitter .icon {
  background-image: url(/images/icon-twitter.svg);
}

@media (max-width: 767px) {
  /* line 191, scss/core/_nav.scss */
  #top-nav {
    right: 0;
    width: 200px;
    height: 100%;
    min-height: 100%;
    z-index: 1;
    background-color: #2b2b29;
  }
  /* line 198, scss/core/_nav.scss */
  #top-nav .nav-item {
    display: block;
  }
  /* line 201, scss/core/_nav.scss */
  #top-nav .container {
    padding: 0;
    overflow: hidden;
  }
  /* line 205, scss/core/_nav.scss */
  #top-nav .nav-link {
    display: block;
    padding: 10px;
    padding-left: 20px;
    line-height: 1.25;
  }
  /* line 212, scss/core/_nav.scss */
  #top-nav .nav-link.logo {
    line-height: 0;
    height: 40px;
    padding: 0 0 0 15px;
  }
  /* line 216, scss/core/_nav.scss */
  #top-nav .nav-link.logo .brand-name {
    display: inline-block;
    width: 80px;
    height: 30px;
    margin: 5px;
    background-position: 50% 50%;
    background-size: contain;
  }
  /* line 226, scss/core/_nav.scss */
  #top-nav .top-nav-items {
    padding-bottom: 10px;
    border-bottom: 1px solid #1c1c1a;
  }
  /* line 230, scss/core/_nav.scss */
  #top-nav .nav-item.home {
    border-bottom: 1px solid #1c1c1a;
  }
  /* line 233, scss/core/_nav.scss */
  #top-nav .nav-item.work {
    border-top: 1px solid rgba(133, 133, 128, 0.25);
    padding-top: 10px;
  }
  /* line 238, scss/core/_nav.scss */
  #top-nav .connect-nav {
    *zoom: 1;
    padding-top: 10px;
    border-top: 1px solid rgba(133, 133, 128, 0.25);
  }
  /* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  #top-nav .connect-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 242, scss/core/_nav.scss */
  #top-nav .connect-nav .connect-title {
    display: block;
    height: 24px;
    line-height: 24px;
    padding-left: 20px;
  }
  /* line 248, scss/core/_nav.scss */
  #top-nav .connect-nav .pipe {
    display: none;
  }
  /* line 251, scss/core/_nav.scss */
  #top-nav .connect-nav .nav-link.location {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1c1c1a;
  }
  /* line 256, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item, #top-nav .connect-nav .social-item {
    display: block;
    float: left;
  }
  /* line 260, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(133, 133, 128, 0.25);
  }
  /* line 265, scss/core/_nav.scss */
  #top-nav .connect-nav .social-item {
    width: auto;
    height: auto;
    margin-right: 5px;
  }
  /* line 270, scss/core/_nav.scss */
  #top-nav .connect-nav .social {
    width: 40px;
    height: 40px;
  }
  /* line 273, scss/core/_nav.scss */
  #top-nav .connect-nav .social .icon {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  /* line 277, scss/core/_nav.scss */
  #top-nav .connect-nav .nav-link.facebook {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  /* line 286, scss/core/_nav.scss */
  #mobile-nav {
    display: none;
  }

  /* line 290, scss/core/_nav.scss */
  #top-nav {
    display: block;
    width: 100%;
    height: 40px;
    min-height: 0;
    z-index: 1000;
    font-size: 14px;
    overflow: visible;
  }
  /* line 299, scss/core/_nav.scss */
  #top-nav .container {
    *zoom: 1;
  }
  /* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  #top-nav .container:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 302, scss/core/_nav.scss */
  #top-nav .top-nav-items, #top-nav .connect-nav {
    *zoom: 1;
  }
  /* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  #top-nav .top-nav-items:after, #top-nav .connect-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 305, scss/core/_nav.scss */
  #top-nav .top-nav-items {
    position: relative;
    display: block;
    padding-left: 120px;
    float: left;
  }
  /* line 313, scss/core/_nav.scss */
  #top-nav .top-nav-items .nav-item.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: auto;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
  }
  /* line 320, scss/core/_nav.scss */
  #top-nav .top-nav-items .nav-link.logo {
    display: block;
  }
  /* line 323, scss/core/_nav.scss */
  #top-nav .top-nav-items .brand-logo {
    display: block;
    width: 70px;
    height: 70px;
    background: #1c1c1a url(/images/brand-logo-small.svg) no-repeat 50% 50%;
    background-size: 50px auto;
  }
  /* line 329, scss/core/_nav.scss */
  #top-nav .top-nav-items .brand-name {
    display: block;
    width: 70px;
    height: 0;
    padding: 0 0 40%;
    margin: 0;
    background-position: 0 100%;
    background-size: contain;
  }
  /* line 337, scss/core/_nav.scss */
  #top-nav .top-nav-items .nav-item:not(.home) {
    display: block;
    float: left;
    padding: 0;
  }
  /* line 341, scss/core/_nav.scss */
  #top-nav .top-nav-items .nav-item:not(.home) .nav-link {
    display: block;
    padding: 10px 15px;
    line-height: 20px;
  }
  /* line 349, scss/core/_nav.scss */
  #top-nav .connect-nav {
    display: block;
    float: right;
  }
  /* line 353, scss/core/_nav.scss */
  #top-nav .connect-nav li {
    float: left;
  }
  /* line 356, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item {
    text-align: left;
    margin-right: 10px;
  }
  /* line 359, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item span, #top-nav .connect-nav .info-item a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    margin: 0 5px;
    line-height: 20px;
  }
  /* line 366, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item .connect-title {
    font-size: 16px;
    line-height: 1.4;
  }
  /* line 370, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item .pipe {
    margin: 0;
  }
  /* line 373, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item .connect-title, #top-nav .connect-nav .info-item .location, #top-nav .connect-nav .info-item .pipe {
    display: none;
  }

  /* line 381, scss/core/_nav.scss */
  .csstransitions #top-nav {
    -moz-transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  /* line 383, scss/core/_nav.scss */
  .csstransitions #top-nav .connect-nav {
    -moz-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  /* line 386, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items {
    padding-left: 160px;
  }
  /* line 388, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .nav-item.home {
    width: 160px;
  }
  /* line 392, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .nav-link.logo {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  /* line 399, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .brand-logo {
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    width: 70px;
    height: 40px;
    background-size: 34px auto;
    z-index: 5;
  }
  /* line 407, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .brand-name {
    -moz-transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: top 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    position: absolute;
    width: 70px;
    height: 38px;
    padding: 0;
    left: 70px;
    top: 0px;
    background-position: 50% 50%;
    background-size: 100% auto;
    z-index: 4;
  }
  /* line 420, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .nav-item:not(.home) .nav-link {
    -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  /* line 423, scss/core/_nav.scss */
  .csstransitions #top-nav .top-nav-items .nav-item:not(.home) .nav-link.active {
    background-color: #1c1c1a;
    color: white;
    border-bottom: 3px solid #ee2a7b;
  }

  /* line 431, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed {
    height: 50px;
  }
  /* line 433, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .connect-nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 439, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .top-nav-items .nav-item.home {
    width: 70px;
  }
  /* line 442, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .top-nav-items .nav-link.logo {
    width: 100%;
    height: 100px;
  }
  /* line 446, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .top-nav-items .brand-logo {
    width: 70px;
    height: 70px;
    background-size: 50px auto;
    z-index: 5;
  }
  /* line 452, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .top-nav-items .brand-name {
    top: 80px;
    left: 0;
    width: 70px;
    background-position: 50% 0%;
    background-size: 100% auto;
  }
  /* line 459, scss/core/_nav.scss */
  .csstransitions #top-nav.affixed .top-nav-items .nav-item:not(.home) .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1025px) {
  /* line 473, scss/core/_nav.scss */
  #top-nav .connect-nav .info-item .connect-title, #top-nav .connect-nav .info-item .location, #top-nav .connect-nav .info-item .pipe {
    display: inline-block;
  }
}
/* line 4, scss/sections/_home.scss */
#home-section .section-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 10, scss/sections/_home.scss */
#home-section .message-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5px 10%;
}
/* line 16, scss/sections/_home.scss */
#home-section .message-inner {
  display: block;
  position: relative;
}
/* line 20, scss/sections/_home.scss */
#home-section .section-title {
  font-size: 1.75em;
  margin-bottom: 0;
  -moz-transition: margin-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: margin-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: margin-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-bottom 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 24, scss/sections/_home.scss */
#home-section .section-title .top {
  display: inline-block;
  font-size: 1.65em;
}
/* line 28, scss/sections/_home.scss */
#home-section .section-title .linking-verb {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  font-size: 0.8em;
  text-transform: none;
  padding: 0.125em 0;
}
/* line 35, scss/sections/_home.scss */
#home-section .section-title br {
  display: block;
}
/* line 38, scss/sections/_home.scss */
#home-section .section-title .adj, #home-section .section-title .noun {
  display: inline-block;
}
/* line 41, scss/sections/_home.scss */
#home-section .section-title .adj {
  padding: 0.25em 0;
}
/* line 45, scss/sections/_home.scss */
#home-section .section-description {
  position: relative;
  font-size: 1.125em;
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  margin-top: -80px;
  padding: 0 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 56, scss/sections/_home.scss */
#home-section .section-description p {
  margin: 0;
  padding: 0;
  line-height: inherit;
}
/* line 66, scss/sections/_home.scss */
#home-section.active .message-inner .section-title, #home-section.on .message-inner .section-title,
#home-section .message-inner:hover .section-title {
  margin-bottom: 0.5em;
  -moz-transition: margin-bottom 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: margin-bottom 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: margin-bottom 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin-bottom 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 70, scss/sections/_home.scss */
#home-section.active .message-inner .section-description, #home-section.on .message-inner .section-description,
#home-section .message-inner:hover .section-description {
  margin-top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.66s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.66s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.66s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.66s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.66s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 768px) {
  /* line 81, scss/sections/_home.scss */
  #home-section .message-wrapper {
    font-size: 1.5em;
    padding: 0 0 10%;
  }
  /* line 86, scss/sections/_home.scss */
  #home-section .section-title .top {
    display: block;
  }
  /* line 89, scss/sections/_home.scss */
  #home-section .section-title .linking-verb, #home-section .section-title .adj, #home-section .section-title .noun {
    display: inline;
    padding: 0;
  }
  /* line 93, scss/sections/_home.scss */
  #home-section .section-title br {
    display: none;
  }
  /* line 99, scss/sections/_home.scss */
  #home-section .section-description {
    max-width: 30em;
  }
}
@media (min-width: 1025px) {
  /* line 107, scss/sections/_home.scss */
  #home-section .message-wrapper {
    font-size: 2.0em;
  }
  /* line 110, scss/sections/_home.scss */
  #home-section .section-description {
    font-size: 1em;
    max-width: 27.5em;
  }
}
@media (min-width: 1281px) {
  /* line 119, scss/sections/_home.scss */
  #home-section .message-wrapper {
    font-size: 2.5em;
  }
  /* line 122, scss/sections/_home.scss */
  #home-section .section-description {
    font-size: 0.875em;
    max-width: 25em;
  }
}
/* line 4, scss/sections/_work.scss */
section#work-section .project-list {
  *zoom: 1;
  margin: 0 -5px;
}
/* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
section#work-section .project-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 8, scss/sections/_work.scss */
section#work-section .project-grid-item {
  float: left;
  width: 50%;
  padding: 5px;
}
/* line 13, scss/sections/_work.scss */
section#work-section .scroll-target {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 0;
  padding: 0 5px;
}
/* line 21, scss/sections/_work.scss */
section#work-section .scroll-target.offset .scroll-to {
  position: absolute;
  width: 100%;
  height: 0;
}
/* line 27, scss/sections/_work.scss */
section#work-section .project-view {
  float: left;
  width: 100%;
  padding: 0 5px;
}

/* line 34, scss/sections/_work.scss */
.project-item {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
}
/* line 41, scss/sections/_work.scss */
.project-item .project-grid-item-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 47, scss/sections/_work.scss */
.project-item .info, .project-item .media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 52, scss/sections/_work.scss */
.project-item .media-inner, .project-item .info-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 56, scss/sections/_work.scss */
.project-item .media-inner {
  display: block;
}
/* line 59, scss/sections/_work.scss */
.project-item .media {
  display: block;
  z-index: 1;
}
/* line 63, scss/sections/_work.scss */
.project-item .media-content, .project-item .media-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}
/* line 72, scss/sections/_work.scss */
.project-item .media-active {
  background: rgba(28, 28, 26, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 76, scss/sections/_work.scss */
.project-item .close-icon {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background: no-repeat 50% 50%;
  background-image: url(/images/grid-close.svg);
  background-size: cover;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 90, scss/sections/_work.scss */
.project-item .info {
  display: block;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 5%;
}
/* line 98, scss/sections/_work.scss */
.project-item .info-inner {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 100%;
  -moz-transition: margin-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: margin-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: margin-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 105, scss/sections/_work.scss */
.project-item .info-inner h1 {
  font-size: 1.5em;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 116, scss/sections/_work.scss */
.project-item.touch .media-active {
  background-color: rgba(238, 42, 123, 0.85);
}
/* line 121, scss/sections/_work.scss */
.project-item.active .media-active, .project-item.hover .media-active {
  background-color: rgba(28, 28, 26, 0.85);
}
/* line 126, scss/sections/_work.scss */
.project-item.active .close-icon {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 132, scss/sections/_work.scss */
.project-item.hover:not(.active) .info-inner {
  margin-top: 0%;
}

@media (min-width: 768px) {
  /* line 142, scss/sections/_work.scss */
  section#work-section .project-grid-item {
    width: 33.33333%;
  }

  /* line 147, scss/sections/_work.scss */
  .project-item .info-inner {
    display: block;
  }
}
@media (min-width: 1025px) {
  /* line 155, scss/sections/_work.scss */
  section#work-section .project-grid-item {
    width: 25%;
  }
}
@media (min-width: 1281px) {
  /* line 163, scss/sections/_work.scss */
  section#work-section .project-grid-item {
    width: 25%;
  }
}
/* line 3, scss/sections/_project.scss */
.project {
  height: 0;
  overflow: hidden;
  position: relative;
}
/* line 9, scss/sections/_project.scss */
.project.active {
  height: auto;
}
/* line 13, scss/sections/_project.scss */
.project.open {
  overflow: visible;
}
/* line 17, scss/sections/_project.scss */
.project .project-inner {
  padding: 60px 0;
  position: relative;
}

/* line 24, scss/sections/_project.scss */
.project .media {
  display: block;
  position: relative;
}
/* line 28, scss/sections/_project.scss */
.project .media .media-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%;
  background: #1c1c1a;
  z-index: 3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyNTI0ZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMWMxYSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #52524e, #1c1c1a);
  background-image: -webkit-radial-gradient(center, ellipse cover, #52524e, #1c1c1a);
  background-image: radial-gradient(ellipse cover at center, #52524e, #1c1c1a);
}
/* line 39, scss/sections/_project.scss */
.project .media .media-container, .project .media .media-controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 46, scss/sections/_project.scss */
.project .media .media-controls {
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 50, scss/sections/_project.scss */
.project .media .media-controls .inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  padding: 25px;
  background-color: rgba(133, 133, 128, 0.25);
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  -moz-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 61, scss/sections/_project.scss */
.project .media .media-controls .icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
}
/* line 67, scss/sections/_project.scss */
.project .media .media-controls .play-icon, .project .media .media-controls .pause-icon {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 70, scss/sections/_project.scss */
.project .media .media-controls .play-icon path, .project .media .media-controls .pause-icon path {
  fill: rgba(255, 255, 255, 0.5);
  -moz-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: fill 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 75, scss/sections/_project.scss */
.project .media .media-controls .play {
  display: block;
}
/* line 78, scss/sections/_project.scss */
.project .media .media-controls .pause {
  display: none;
}
/* line 81, scss/sections/_project.scss */
.project .media .media-controls:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 84, scss/sections/_project.scss */
.project .media .media-controls .inner:hover {
  background-color: #ee2a7b;
}
/* line 87, scss/sections/_project.scss */
.project .media .media-controls .inner:hover .play-icon path, .project .media .media-controls .inner:hover .pause-icon path {
  fill: white;
}
/* line 94, scss/sections/_project.scss */
.project .media.playing .media-controls .play {
  display: none;
}
/* line 95, scss/sections/_project.scss */
.project .media.playing .media-controls .pause {
  display: block;
}
/* line 97, scss/sections/_project.scss */
.project .media .media-container {
  z-index: 1;
}
/* line 100, scss/sections/_project.scss */
.project .media .close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 6px;
  z-index: 4;
}
/* line 107, scss/sections/_project.scss */
.project .media .close .icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: rgba(133, 133, 128, 0.25);
  -moz-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-border-radius: 9999px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
}
/* line 116, scss/sections/_project.scss */
.project .media .close .close-icon {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 119, scss/sections/_project.scss */
.project .media .close .close-icon polygon {
  fill: #1c1c1a;
  -moz-transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: fill 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 125, scss/sections/_project.scss */
.project .media .close:hover .icon {
  background-color: #ee2a7b;
}
/* line 128, scss/sections/_project.scss */
.project .media .close:hover .close-icon polygon {
  fill: white;
}

/* line 135, scss/sections/_project.scss */
.project .info {
  margin-top: 30px;
}
/* line 138, scss/sections/_project.scss */
.project .info .details {
  padding: 1em 0 0;
}
/* line 143, scss/sections/_project.scss */
.project .info .additional .participant-info, .project .info .additional .taxonomy {
  display: block;
  font-size: 87.5%;
  color: #1c1c1a;
}
/* line 149, scss/sections/_project.scss */
.project .info .additional .info-label {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  color: #858580;
}
/* line 155, scss/sections/_project.scss */
.project .info .additional .taxonomy-item:last-child .separator {
  display: none;
}

/* line 162, scss/sections/_project.scss */
.media-container.gallery .gallery-list {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 167, scss/sections/_project.scss */
.media-container.gallery .gallery-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
  z-index: 5;
  -moz-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 175, scss/sections/_project.scss */
.media-container.gallery .gallery-item.active {
  z-index: 6;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 179, scss/sections/_project.scss */
.media-container.gallery .gallery-item.fade {
  z-index: 7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 183, scss/sections/_project.scss */
.media-container.gallery .img-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 189, scss/sections/_project.scss */
.media-container.gallery img {
  display: inline-block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

/* line 197, scss/sections/_project.scss */
.media-container.video {
  text-align: center;
  overflow: hidden;
}
/* line 200, scss/sections/_project.scss */
.media-container.video video {
  font-size: 0;
  display: inline-block;
  margin: 0 auto;
  width: auto;
  height: 100%;
}
/* line 207, scss/sections/_project.scss */
.media-container.video .marker {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 9px solid #ee2a7b;
}

@media (min-width: 768px) {
  /* line 223, scss/sections/_project.scss */
  .project .project-inner {
    padding-top: 100px;
  }

  /* line 228, scss/sections/_project.scss */
  .media-container.gallery .gallery-item {
    padding: 20px;
  }
}
@media (min-width: 1025px) {
  /* line 239, scss/sections/_project.scss */
  .media-container.gallery .gallery-item {
    padding: 30px;
  }
}
@media (min-width: 1281px) {
  /* line 248, scss/sections/_project.scss */
  .project .project-inner {
    position: relative;
    width: 100%;
    *zoom: 1;
  }
  /* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .project .project-inner:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 253, scss/sections/_project.scss */
  .project .media {
    width: 66.6666%;
    position: relative;
  }
  /* line 256, scss/sections/_project.scss */
  .project .media .media-inner {
    width: 100%;
    position: relative;
  }
  /* line 261, scss/sections/_project.scss */
  .project .info {
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
  }
  /* line 267, scss/sections/_project.scss */
  .project .info .title, .project .info .subtitle {
    width: 66.6666%;
  }
  /* line 270, scss/sections/_project.scss */
  .project .info .title {
    font-size: 54px;
  }
  /* line 273, scss/sections/_project.scss */
  .project .info .details {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 33.3333%;
    padding: 0 0 0 20px;
  }
  /* line 279, scss/sections/_project.scss */
  .project .info .additional {
    padding-bottom: 0;
  }
}
/* line 4, scss/sections/_info.scss */
section#info-section .section-inner > div {
  padding: 0 0 3em;
}
/* line 7, scss/sections/_info.scss */
section#info-section h1, section#info-section h2, section#info-section h3 {
  margin: 0 0 0.5em;
}
/* line 13, scss/sections/_info.scss */
section#info-section .about-container em {
  display: none;
}
/* line 16, scss/sections/_info.scss */
section#info-section .about-container dt, section#info-section .about-container dd {
  display: block;
  max-width: 40em;
}
/* line 20, scss/sections/_info.scss */
section#info-section .about-container dt {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 900;
  padding: 20px 0 5px;
  font-size: 75%;
  color: #1c1c1a;
  text-transform: uppercase;
}
/* line 26, scss/sections/_info.scss */
section#info-section .about-container dt:first-of-type {
  padding-top: 0;
}
/* line 30, scss/sections/_info.scss */
section#info-section .about-container dd {
  padding-bottom: 10px;
}
/* line 38, scss/sections/_info.scss */
section#info-section .partnership-list {
  max-width: 40em;
}
/* line 41, scss/sections/_info.scss */
section#info-section .partnership-list .partner-link {
  white-space: nowrap;
}
/* line 44, scss/sections/_info.scss */
section#info-section .partnership-list li {
  display: inline;
  line-height: 24px;
}
/* line 48, scss/sections/_info.scss */
section#info-section .partnership-list li .partner-link:after {
  display: inline-block;
  margin-right: 0.25em;
  content: ", ";
  color: #b8b8b1;
}
/* line 54, scss/sections/_info.scss */
section#info-section .partnership-list li:last-child .partner-link:after {
  content: "";
}

@media (min-width: 768px) {
  /* line 66, scss/sections/_info.scss */
  section#info-section .about-container dt {
    padding-top: 1em;
  }
}
@media (min-width: 1025px) {
  /* line 91, scss/sections/_info.scss */
  section#info-section .about-container dl {
    display: block;
    width: 100%;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 2.5em;
    -webkit-column-gap: 2.5em;
    column-gap: 2.5em;
  }
  /* line 97, scss/sections/_info.scss */
  section#info-section .about-container dt {
    padding-right: 25%;
  }
}
/* line 4, scss/sections/_connect.scss */
section#connect-section h1, section#connect-section h2, section#connect-section h3 {
  margin: 0 0 0.5em;
}
/* line 7, scss/sections/_connect.scss */
section#connect-section .content-wrapper {
  padding: 0 0 2em;
}
/* line 10, scss/sections/_connect.scss */
section#connect-section .hours {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 0.75em;
}
/* line 15, scss/sections/_connect.scss */
section#connect-section .vcard .type {
  display: block;
  width: 1px;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  text-indent: -9999px;
}
/* line 24, scss/sections/_connect.scss */
section#connect-section .vcard .adr, section#connect-section .vcard .tel, section#connect-section .vcard .email {
  display: block;
}

@media (min-width: 768px) {
  /* line 33, scss/sections/_connect.scss */
  .contact-form {
    padding-bottom: 1em;
  }
  /* line 36, scss/sections/_connect.scss */
  .contact-form button.submit {
    margin-top: 1.4em;
  }

  /* line 42, scss/sections/_connect.scss */
  section#connect-section .connect-row {
    *zoom: 1;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  /* line 38, ../../../../../../.rvm/gems/ruby-2.1.4@global/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  section#connect-section .connect-row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 48, scss/sections/_connect.scss */
  section#connect-section .contact-form, section#connect-section .connect-details {
    display: block;
    float: left;
  }
  /* line 52, scss/sections/_connect.scss */
  section#connect-section .contact-form {
    width: 65%;
    padding-right: 5%;
    border-right: 1px solid rgba(133, 133, 128, 0.25);
    margin-right: 5%;
  }
  /* line 58, scss/sections/_connect.scss */
  section#connect-section .connect-details {
    width: 25%;
  }
}
@media (min-width: 1025px) {
  /* line 69, scss/sections/_connect.scss */
  section#connect-section .contact-form {
    width: 55%;
  }
  /* line 72, scss/sections/_connect.scss */
  section#connect-section .connect-details {
    width: 25%;
  }
}
/* line 3, scss/modules/_connect-form.scss */
#connect-form {
  width: 100%;
  padding-bottom: 2em;
  font-size: 16px;
}
/* line 9, scss/modules/_connect-form.scss */
#connect-form .input-field {
  margin: 0 0 1em;
}
/* line 12, scss/modules/_connect-form.scss */
#connect-form .input-wrapper {
  background: #1c1c1a;
}
/* line 17, scss/modules/_connect-form.scss */
#connect-form label {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  display: block;
  text-transform: uppercase;
}
/* line 24, scss/modules/_connect-form.scss */
#connect-form .inquiry-select, #connect-form input[type='text'], #connect-form textarea {
  font-family: "adobe-garamond-pro", Georgia, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  display: block;
  background: #1c1c1a;
  color: #b8b8b1;
  width: 100%;
  height: auto;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  border: none;
  outline: none;
  -moz-transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 45, scss/modules/_connect-form.scss */
#connect-form .inquiry-select div[pseudo="-webkit-input-placeholder"], #connect-form input[type='text'] div[pseudo="-webkit-input-placeholder"], #connect-form textarea div[pseudo="-webkit-input-placeholder"] {
  color: #52524e;
}
/* line 48, scss/modules/_connect-form.scss */
#connect-form .inquiry-select:focus, #connect-form input[type='text']:focus, #connect-form textarea:focus {
  outline: none;
  background: #f7f7f0;
  color: black;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 57, scss/modules/_connect-form.scss */
#connect-form .input-field.inquiry {
  position: relative;
}
/* line 60, scss/modules/_connect-form.scss */
#connect-form input[name='inquiry'] {
  cursor: pointer;
  pointer-events: none;
}
/* line 65, scss/modules/_connect-form.scss */
#connect-form .inquiry-select {
  display: block;
  position: relative;
  padding: 0;
  cursor: pointer;
}
/* line 71, scss/modules/_connect-form.scss */
#connect-form .inquiry-select input {
  background: none;
  border: none;
}
/* line 75, scss/modules/_connect-form.scss */
#connect-form .inquiry-select::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  right: 17px;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-right: -4px;
  border-top: solid 6px #858580;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  -moz-transition: border-top-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: border-top-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: border-top-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-top-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 87, scss/modules/_connect-form.scss */
#connect-form .inquiry-select:focus, #connect-form .inquiry-select:focus input {
  color: black;
}
/* line 90, scss/modules/_connect-form.scss */
#connect-form .inquiry-select:focus::after {
  border-top-color: black;
}
/* line 94, scss/modules/_connect-form.scss */
#connect-form .inquiry-type-list {
  display: none;
  position: relative;
  padding: 0;
  width: 100%;
  background: #f7f7f0;
  color: black;
}
/* line 102, scss/modules/_connect-form.scss */
#connect-form .inquiry-type-item {
  display: block;
  width: 100%;
}
/* line 106, scss/modules/_connect-form.scss */
#connect-form .inquiry-type {
  cursor: pointer;
  display: block;
  width: 100%;
  line-height: 1.25;
  padding: 10px;
  font-size: inherit;
  text-decoration: none;
  -moz-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 116, scss/modules/_connect-form.scss */
#connect-form .inquiry-type.selected {
  background-color: #1c1c1a;
  color: white;
}
/* line 120, scss/modules/_connect-form.scss */
#connect-form .inquiry-type:focus, #connect-form .inquiry-type:hover {
  background-color: #ee2a7b;
  color: white;
}
/* line 128, scss/modules/_connect-form.scss */
#connect-form .input-field.inquiry.open {
  z-index: 1000;
  position: relative;
  height: 65px;
}
/* line 134, scss/modules/_connect-form.scss */
#connect-form .input-field.inquiry.open input, #connect-form .input-field.inquiry.open .input-wrapper {
  background-color: #f7f7f0;
  color: black;
  border: none;
}
/* line 139, scss/modules/_connect-form.scss */
#connect-form .input-field.inquiry.open .input-wrapper {
  position: absolute;
  width: 100%;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 144, scss/modules/_connect-form.scss */
#connect-form .input-field.inquiry.open .inquiry-type-list {
  display: block;
}
