<div class="container">
  <a href="/" class="logo">
    <em class="brand-icon icon">Fiveleft</em>
  </a>
  <p class="copyright">&copy; 2006-<script type="text/javascript">document.write( (new Date()).getFullYear() );</script> Fiveleft, LLC.</p>
</div>