
<nav id="mobile-nav"> 
  <a href="/" class="logo">
    <em class="brand-icon"></em><span class="brand-name">Fiveleft</span>
  </a>
  <button class="menu-trigger">
    <i class="icon">
      <span class="bar"></span><span class="bar"></span><span class="bar"></span>
    </i>
  </button>
</nav>

<nav id="top-nav" class="affixed">
  <div class="container">
    <ul class="top-nav-items">
      <li class="nav-item home">
        <a href="/" class="logo nav-link" data-id="home">
          <span class="brand-name">Fiveleft</span>
          <em class="brand-logo"></em>
        </a>
      </li>
      <li class="nav-item work">
        <a href="/work" class="nav-link" data-id="work" data-title="Work">Work</a>
      </li>
      <li class="nav-item info">
        <a href="/info" class="nav-link" data-id="info" data-title="Information">Information</a>
      </li>
      <li class="nav-item connect">
        <a href="/connect" class="nav-link" data-id="connect" data-title="Connect">Connect</a>
      </li>
    </ul>
    <ul class="connect-nav">
      <li class="info-item">
        <!-- <span class="connect-title">Contact:</span> -->
        <a href="tel:2063107873" class="nav-link info phone" >206-310-7873</a>
        <span class="pipe">|</span>
        <span class="nav-link info location" >Seattle, WA</span>
      </li>
      <li class="social-item">
        <a href="https://facebook.com/fiveleftinteractive" target="_blank" class="nav-link social facebook" >
          <i class="icon">Facebook</i>
        </a>
      </li>
      <li class="social-item">
        <a href="https://twitter.com/fiveleft" target="_blank" class="nav-link social twitter" >
          <i class="icon">@fiveleft</i>
        </a>
      </li>
      <li class="social-item">
        <a href="https://github.com/fiveleft" target="_blank" class="nav-link social github" >
          <i class="icon">Github</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
