
<nav id="mobile-nav"> 
    <a href="#" class="site-lock"></a>
    <div class="row">
        <a href="/" class="logo"><i class="icon"></i><span class="text">Fiveleft</span></a>
        <button class="menu-trigger">
            <i class="icon open">Open Navigation</i>
            <i class="icon close">Close Navigation</i>
        </button>
        <div class="draw-trigger">
            <a href="/draw" data-id="draw" class="draw-open">
                <i class="icon">Draw</i>
            </a>
            <a href="#draw-close" class="draw-close">
                <i class="icon close">Back To Site</i>
            </a>
        </div>
    </div>
</nav>

<nav id="top-nav">
    <div class="top-nav-container">
        <ul class="top-nav-items">
            <li class="nav-item home">
                <a href="/" class="logo nav-link" data-id="welcome">
                    <i class="fiveleft-logo">Fiveleft Logo</i>
                    <span class="fiveleft-name">fiveleft</span>
                </a>
            </li>
            <li class="nav-item work">
                 <a href="/work" class="nav-link" data-id="work" data-title="Work">Work</a>
            </li>
            <li class="nav-item info">
                <a href="/info" class="nav-link" data-id="info" data-title="Information">Information</a>
            </li>
            <li class="nav-item connect">
                <a href="/connect" class="nav-link" data-id="connect" data-title="Connect">Connect</a>
            </li>
            <li class="nav-item draw">
                <a href="/draw" class="nav-link" data-id="draw" data-title="Draw">Draw</a>
            </li>
        </ul>
        <p class="connect-title">Contact:</p>
        <ul class="connect-nav-items connect-nav">
            <li class="nav-item info-item">
                <a href="tel:2063107873" class="nav-link info phone" >206-310-7873</a>
            </li>
            <li class="nav-item info-item">
                <span class="nav-link info location" >Seattle, WA</span>
            </li>
            <li class="nav-item social-item">
                <a href="#facebook" class="nav-link social facebook" ><i class="icon">Facebook</i></a>
            </li>
            <li class="nav-item social-item">
                <a href="#twitter" class="nav-link social twitter" ><i class="icon">@fiveleft</i></a>
            </li>
            <li class="nav-item social-item">
                <a href="#google" class="nav-link social google" ><i class="icon">Google</i></a>
            </li>
        </ul>
    </div>
</nav>
