<section id="connect-section" class="section container" data-id="connect" data-scrollto="connect">
	<div class="section-inner">
		<h1 class="section-title">Connect</h1>
    {{#if infoData.connectmessage }}
    <div class="connect-container" data-content="connect">
      {{{infoData.connectmessage.content }}}
    </div>
    {{/if }}
		<div class="connect-row">
			{{>connect_form}}
			<div class="connect-details">
				{{>vcard}}
				<p class="hours">Hours by appointment only</p>
			</div>
		</div>
	</div>
</section>