<section id="home-section" class="section container" data-id="home" data-scrollto="">
  <div class="section-inner">
    <div class="message-wrapper">
      <div class="message-inner">
        <h1 class="section-title">
          <span class="top">Fiveleft</span><span class="linking-verb"> is a </span><br/><span class="adj">Creative Digital</span> <span class="noun">Studio</span>
        </h1>
        <div class="section-description">
          {{#if infoData.welcomemessage }}
          {{{infoData.welcomemessage.content}}}
          {{else}}
          <p class="section-description">
            Bacon ipsum dolor amet pancetta tongue bresaola tail jerky venison ball tip pork picanha chuck tenderloin landjaeger swine. Beef ribs t-bone picanha doner.
          </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>