<section id="welcome-section" class="section" data-id="welcome" data-index="1" data-path="welcome">
    <div class="section-inner">
        <div class="hero-wrapper">
            <div class="hero-inner">
                <div class="hero-image">
                    <div class="hero-image-inner">
                        <div class="hero-logo">
                            <span class="hero-fill"></span>
                            <span class="hero-mask"></span>
                            <canvas class="hero-canvas"></canvas>
                        </div>
                    </div>
                </div>
                <div class="hero-message">
                    <div class="message-container">
                        <div class="message-scroller noSelect">
                            <div class="message-step" data-index="1">
                                <h1 class="title">Fiveleft is a<br/>creative digital studio</h1>
                            </div>
                            <div class="message-step" data-index="2">
                                <p class="message">Please Explore our site,<br/>but forgive our selfish Intentions...</p>
                            </div>
                            <div class="message-step" data-index="3">
                                <p class="message">We&rsquo;d like you to make us<br/>something beautiful...</p>
                            </div>
                            <div class="message-step" data-index="4">
                                <p class="message">Click around and enjoy your visit,<br/>but ignore what you&rsquo;re creating in the background...</p>
                            </div>
                            <div class="message-step" data-index="5">
                                <p class="message">We&rsquo;ll be keeping that when<br/>you&rsquo;re finished.</br><span class="small">(Unless you&rsquo;d like us to share it with you too?)</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="message-nav">
                    <a href="#prev" class="advance prev">
                        <i class="icon">Previous</i>
                    </a>
                    <a href="#next" class="advance next">
                        <i class="icon">Next</i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>