<section id="info-section" class="section" data-id="info" data-path="info">
    <div class="section-inner">
        <article class="about-fiveleft">
            <aside class="portrait">
                <div class="portrait-position">
                    <div class="portrait-wrapper">
                        <div class="portrait-inner">
                            <div class="portrait-media"></div>
                            <div class="portrait-media"></div>
                            <div class="portrait-media"></div>
                        </div>
                        <nav class="info-nav">
                            <ul>   
                                <li><a class="info-link" href="/info/about" data-pagename="about">About</a>
                                <li><a class="info-link" href="/info/background" data-pagename="background">Background</a>
                                <li><a class="info-link" href="/info/philosophy" data-pagename="philosophy">Philosophy</a>
                                <li><a class="info-link" href="/info/clients">Clients</a>
                                <li><a class="info-link" href="/info/agencies">Agencies</a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <div class="primary-content">
                <div class="section-container">
                    <section class="profile active" data-id="about" data-pagename="about">
                        <div class="inner">
                            <h1>About</h1>
                            <div class="content"></div>
                        </div>
                    </section>
                    <section class="background" data-id="background" data-pagename="background">
                        <div class="inner">
                            <h1>Background</h1>
                            <div class="content"></div>
                        </div>
                    </section>
                    <section class="philosophy" data-id="philosophy" data-pagename="philosophy">
                        <div class="inner">
                            <h1>Philosophy</h1>
                            <div class="content"></div>
                        </div>
                    </section>
                    <section class="clients" data-id="clients">
                        <div class="inner">
                            <h1>Clients</h1>
                            <ul class="client-list partnership-list"></ul>
                        </div>
                    </section>
                    <section class="agencies" data-id="agencies">
                        <div class="inner">
                            <h1>Agencies</h1>
                            <ul class="agency-list partnership-list"></ul>
                        </div>
                    </section>
                </div>
            </div>
        </article>
    </div>
</section>