<section id="info-section" class="section container" data-id="info" data-scrollto="info">
  <div class="section-inner">
    <div data-content="about"></div>
    <div data-content="background"></div>
    <div data-content="philosophy"></div>
    <div class="clients">
      <h3>Clients I've produced work for</h3>
      <ul class="client-list partnership-list"></ul>
    </div>
    <div class="agencies">
      <h3>Agencies I've worked with</h3>
      <ul class="agency-list partnership-list"></ul>
    </div>
  </div>
</section>