<section id="drawing-section" class="section" data-id="draw" data-path="draw">
    <canvas id="canvas-drawing" ></canvas>
    <div class="section-inner drawing-section-inner">
    	<h1 class="section-title title">HELLO WORLD</h1>
    	
    </div>
</section>  