<section id="home-section" class="container" data-id="home" data-scrollto="">
  <div class="section-inner">
    <h1 class="section-title">Fiveleft is a Creative Digital Studio</h1>
  </div>
</section>