<section id="info-section" class="section container" data-id="info" data-scrollto="info">
  <div class="section-inner">
    <div class="about-container" data-content="about">
    </div>
    <div class="clients">
      <h2>Clients I've produced work for</h2>
      <ul class="client-list partnership-list"></ul>
    </div>
    <div class="agencies">
      <h2>Agencies I've worked with</h2>
      <ul class="agency-list partnership-list"></ul>
    </div>
  </div>
</section>