<section id="work-section" class="section" data-id="work" data-scrollto="work">
	<div class="section-inner">
		<div class="work-grid">
			<div class="project-list">
				<!-- here is where we add content -->
        <div class="project-view" data-view="0" data-scrollto="project"></div>
        <div class="project-view" data-view="1"></div>
			</div>
		</div>
  </div>
</section>