<section id="connect-section" class="section" data-id="connect" data-path="connect">
	<div class="section-inner">
		<h1 class="section-title">Connect</h1>

		<div class="info-row">
			<div class="info location">
				<h2 class="title">Seattle</h2>
				<div class="vcard">
					<address>6813 26th Ave NE<br class="city"/>Seattle, WA<br class="country"/>United States</address>
				</div>
				<p class="hours">Hours by appointment only</p>
				<p class="email"><a href="mai&#108;to&#58;s&#116;&#117;di&#111;&#64;fi&#118;elef&#116;&#46;co&#109;">st&#117;&#100;&#105;o&#64;fivelef&#116;&#46;c&#111;m</a></p>
				<p class="phone"><a href="tel:2063107873">206.310.7873</a></p>
			</div>
		</div>

		</div>
	</div>
</section>