// sections/_connect.scss
section#connect-section {

  h1, h2, h3 {
    margin: 0 0 0.5em;
  }
  .content-wrapper {
    padding: 0 0 2em;
  }
  .hours {
    @include italicBoldFont();
    padding-bottom: 0.75em;
  }
  .vcard {
    .type {
      display: block; 
      width: 1px; 
      height: 0;
      line-height: 0;
      overflow: hidden;
      visibility: hidden; 
      text-indent: -9999px;
    }
    .adr, .tel, .email {
      display: block;
    }
  }
}

.contact-form {
  width: 100%;
  padding-bottom: 2em;

  .input-field {
    margin: 0 0 1em;
  }
  .input-wrapper {
    background: $color-grey-black;
    padding: 5px;
  }

  label {
    @include mediumFont();
    font-size: 83.3333%;
    display: block;
    text-transform: uppercase;
  }

  input[type='text'], textarea {

    @include bodyFont();
    display: block;
    background: $color-grey-black;
    color: $color-grey-light;
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.33em;
    border: 1px solid $color-grey-black;
    outline: none;


    @include transition( 
      border-color 0.3s $easeInCubic,
      color 0.3s $easeInCubic,
      background-color 0.3s $easeOutCubic 
    );

    &:focus {
      outline: none;
      color: $color-grey-white;
      background-color: $color-black;
      border-color: $color-grey-med;
    }

    div[pseudo="-webkit-input-placeholder"] {
      color: $color-grey-dark;
    }
  }

  .input-field[data-field='inquiry'] {

    .input-wrapper {
      position: relative;
    }
    .inquiry-type-list {
      display: block;
    }
    input[name='inquiry'] {
      position: relative;
      z-index: 2;
      top: 0; left: 0;
      @include opacity( 0.8 );
    }
    select[name='inquiry'] {
      position: absolute;
      width: 100%;
      top: 0; left: 0;
      z-index: 1;
      visibility: hidden;
    }

  }
}



@media ( min-width:$width-sm-min ) {  

  .contact-form {
    padding-bottom: 1em;
        
    button.submit {
      margin-top: 1.4em;
    }
  }

  section#connect-section {
    .connect-row {
      @include clearfix;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
    .contact-form, .connect-details {
      display: block;
      float: left;
    }
    .contact-form {
      width: 65%;
      padding-right: 5%;
      border-right: 1px solid $color-border;
      margin-right: 5%;
    }
    .connect-details {
      width: 25%;
    }
  }
}

@media ( min-width:$width-md-min ) {
  section#connect-section {
    .connect-row {
      //width: 90%;
    }
    .contact-form {
      width: 55%;
    }
    .connect-details {
      width: 25%;
    }
  }
}

@media ( min-width:$width-lg-min ) {
  section#connect-section {
    .connect-row {
      //width: 80%;
    }
  }
}
