// sections/_connect.scss
section#connect-section {

  h1, h2, h3 {
    margin: 0 0 0.5em;
  }
  .content-wrapper {
    padding: 0 0 2em;
  }
  .hours {
    @include italicBoldFont();
    padding-bottom: 0.75em;
  }
  .vcard {
    .type {
      display: block; 
      width: 1px; 
      height: 0;
      line-height: 0;
      overflow: hidden;
      visibility: hidden; 
      text-indent: -9999px;
    }
    .adr, .tel, .email {
      display: block;
    }
  }
}


@media ( min-width:$width-sm-min ) {  

  .contact-form {
    padding-bottom: 1em;
        
    button.submit {
      margin-top: 1.4em;
    }
  }

  section#connect-section {
    .connect-row {
      @include clearfix;
      width: 100%;
      display: block;
      margin: 0 auto;
      padding-bottom: 80px;
    }
    .contact-form, .connect-details {
      display: block;
      float: left;
    }
    .contact-form {
      width: 65%;
      padding-right: 5%;
      border-right: 1px solid $color-border;
      margin-right: 5%;
    }
    .connect-details {
      width: 25%;
    }
  }
}

@media ( min-width:$width-md-min ) {
  section#connect-section {
    .connect-row {
      //width: 90%;
    }
    .contact-form {
      width: 55%;
    }
    .connect-details {
      width: 25%;
    }
  }
}

@media ( min-width:$width-lg-min ) {
  section#connect-section {
    .connect-row {
      //width: 80%;
    }
  }
}
