// sections/_info.scss
section#info-section {

  .section-inner > div {
    padding: 0 0 2em;
  }
  h1, h2, h3 {
    margin: 0 0 0.5em;
  }

  .partnership-list {
    max-width: 40em;
    li { 
      display: inline;
      line-height: 24px;
    }
    li .partner-link:after {
      display: inline-block;
      margin-right: 0.25em;
      content: ", ";
      color: $color-grey-light;
    }
    li:last-child .partner-link:after {
      content: "";
    }
  }
}



@media ( min-width:$width-sm-min ) {
  
  section#info-section {
    .partnership-list {
      max-width: none;
      // @include columns( 10em 3 );
      // @include column-gap( 1.5em );
      li {
        display: inline-block;
      }
      li:after {
        //content: none;
      }
    }
  }
}

@media ( min-width:$width-md-min ) {
  
  section#info-section {
  }
}

@media ( min-width:$width-lg-min ) {
  
  section#info-section {
  }
}