// sections/project

.project {

  height: 0;
  overflow: hidden;
  position: relative;

  &.active {
    height: auto;
  }

  &.open {
    overflow: visible;
  }

  .project-inner {
    padding: 60px 0;
    position: relative;
  }
}


.project .media {
  display: block;
  position: relative;

  .media-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 56.25%;
    background: $color-grey-black;
    z-index: 3;
    @include background-image( 
      radial-gradient(center, ellipse cover, rgba($color-grey-dark,1), rgba($color-grey-black,1))
    );
  }
  .media-container, .media-controls {
    display: block;
    position: absolute; 
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
  .media-controls {
    z-index: 2;
    @include opacity(0);
    @include transition( opacity 0.3s $easeOutCubic );
    .inner {
      display: block;
      position: absolute;
      top: 50%; left: 50%;
      width: 100px; height: 100px;
      margin: -50px 0 0 -50px;
      padding: 25px;
      background-color: $color-border;
      @include border-radius(9999px);
      @include transition( background-color 0.3s $easeInOutCubic );
    }
    .icon {
      @include hide-text();
      display: block;
      position: absolute;
      width: 50px; height: 50px;
    }
    .play-icon, .pause-icon {
      display: block;
      width: 100%; height: 100%;
      path {
        fill: rgba( $color-white, 0.5 );
        @include transition( fill 0.3s $easeInOutCubic );
      }
    }
    .play {
      display: block;
    }
    .pause {
      display: none;
    }
    &:hover {
      @include opacity(1);
    }
    .inner:hover {
      background-color: $brand-magenta;
      .play-icon, .pause-icon {
        path {
          fill: $color-white;
        }
      }
    }
  }
  &.playing .media-controls {
    .play { display: none; }
    .pause { display: block; }
  }
  .media-container {
    z-index: 1;
  }
  .close {
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 40px; height: 40px; padding: 6px;
    z-index: 4;

    .icon {
      position: relative;
      display: block;
      width: 100%; height: 100%; padding: 4px;
      background-color: $color-border;
      @include transition( background-color 0.2s $easeInOutCubic );
      @include border-radius( 9999px );
    }
    // @include hide-text();
    .close-icon {
      display: block;
      width: 100%; height: 100%;
      polygon {
        fill:$color-grey-black;
        @include transition( fill 0.2s $easeInOutCubic );
      }
    }
    &:hover {
      .icon {
        background-color: $brand-magenta;
      }
      .close-icon polygon {
        fill: $color-white;
      }
    }
  }
}

.project .info {
  margin-top: 30px;  

  .details {
    padding: 1em 0 0;
  }

  .additional {
    .participant-info, .taxonomy {
      // @include italicFont();
      display: block;
      font-size: 87.5%;
      color: $color-grey-black;
    }
    .info-label {
      @include mediumFont();
      text-transform: uppercase;
      font-size: 11px;
      color: $color-grey-med;
    }
    .taxonomy-item:last-child .separator {
      display: none;
    }
  }
}

.media-container.gallery {
  .gallery-list {
    display: block;
    position: relative;
    width: 100%; height: 100%;
  }
  .gallery-item {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    padding: 5px;
    z-index: 5;
    @include transition( opacity 0.5s $easeInOutCubic );
  }
  .gallery-item.active {
    z-index: 6;
    @include opacity(1);
  }
  .gallery-item.fade {
    z-index: 7;
    @include opacity(0);
  }
  .img-container {
    display: block;
    position: relative;
    width: 100%; height: 100%;
    text-align: center;
  }
  img {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}

.media-container.video {
  text-align: center;
  overflow: hidden;
  video {
    font-size: 0;
    display: inline-block;
    margin: 0 auto;
    width: auto;
    height: 100%;
  }
  .marker {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 0; 
    margin-left: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 9px solid $brand-magenta;
  }
}

@media ( min-width:$width-sm-min ) {
  .project {
    .project-inner {
      padding-top: 100px;
    }
  }
  .media-container.gallery {
    .gallery-item {
      padding: 20px;
    }
  }
}

@media ( min-width:$width-md-min ) {
  .project {
    
  }
  .media-container.gallery {
    .gallery-item {
      padding: 30px;
    }
  }
}

//TODO: Fix the aspect ratio value!

@media ( min-width:$width-lg-min ), 
  ( min-width:$width-md-min ) and ( min-aspect-ratio:2/1 ) {

  .project {

    .project-inner {
      position: relative;
      width: 100%;
      @include clearfix;
    }
    .media {
      width: 66.6666%;
      position: relative;
      .media-inner {
        width: 100%;
        position: relative;
      }
    }
    .info {
      position: absolute;
      width: 100%;
      margin-top: 0;
      padding-top: 30px;

      .title, .subtitle {
        width: 66.6666%;
      }
      .title {
        font-size: 54px;
      }
      .details {
        position: absolute;
        bottom: 100%; right: 0;
        width: 33.3333%;
        padding: 0 0 0 20px;
      }
      .additional {
        padding-bottom: 0;
      }

    }
  }
}